<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>COMP90024 Team 35</title> 
<style>
    body {color:white;}
    h1 {color:white;} 

    body,html{
        height: 100%;
    }

    body{
        background: url(https://melbuniblog.files.wordpress.com/2016/10/unimelb-testimonial-2.jpg) no-repeat center center scroll;       
        background-size:cover;
        background-position: center;
        background-origin:content-box;
        text-align:center
    }

</style>
</head>
<body>

<div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h1><b>COMP90024 Project 2: The Deadly Sins Analysis</b></h1>
    <br/>
    <h2><b>Team 35 Members:</b></h2>
    <p><b>YE YANG<br/>yey11@student.unimelb.edu.au<br/><br/>
    ZHAOHUI HOU<br/>zhaohui.hou@student.unimelb.edu.au</br><br/>
    HAOYU ZHANG<br/>haoyu.zhang@student.unimelb.edu.au</br><br/>
    YIMING XU<br/>yimingx2@student.unimelb.edu.au</br><br/>
    WENKANG ZHU<br/>wenkang.zhu@student.unimelb.edu.au</b></p>
    <br/>
 

<button>Map</button>
</div>
</body>
</html>
